node_modules/
database.sqlite
public/uploads/products/*.jpg
public/uploads/products/*.png
public/uploads/products/*.jpeg
public/uploads/banners/*
!public/uploads/banners/.gitkeep
server.log
server.err
